.sidebar {
    -fx-background-color:  #2262C6;
    -fx-background-radius: 0px 50px 0px 0px;
}

.labbtn{
    -fx-text-fill:#2262C6;
    -fx-background-color:  #FEFFFD;
    -fx-background-radius:  50px;
}
.labbtn:hover{
    -fx-background-color:#c2c2c2
}

.tk_hb{
    -fx-text-fill:#2262C6;
    -fx-background-radius:  50px;
}
.tk_hb:hover{
    -fx-background-color:#c2c2c2

}

.hide-header .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    visibility: hidden;
    -fx-padding: -1em;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: white;
    -fx-border-width: 10px 10px 10px 10px;
    -fx-border-color: #aaaaaa;
    -fx-border-width: 1;
    -fx-alignment: center;
}

.table-view .column-header {
    -fx-border-width: 1 1 1 1;
    -fx-border-color: grey;
    -fx-background-color: #a8a8a8;
}

.table-view .column-header .label {
    -fx-alignment: center;
    -fx-font-size: 11pt;
    -fx-padding: 5 0 15 0;
}

.table-row-cell:selected {
    -fx-background-color: #282828;
}

.table-view .table-cell {
    -fx-border-color: grey;
    -fx-border-width: 1 1 1 1;
    -fx-font-size: 10pt;
    -fx-padding: 5 3 15 3;
}