.sidebar {
    -fx-background-color:  #2262C6;
    -fx-background-radius: 0px 50px 0px 0px;
}

.labbtn{
    -fx-text-fill:#2262C6;
    -fx-background-color:  #FEFFFD;
    -fx-background-radius:  50px;
}
.labbtn:hover{
    -fx-background-color:#c2c2c2
}

.tk_hb{
    -fx-text-fill:#2262C6;
    -fx-background-radius:  50px;
}
.tk_hb:hover{
    -fx-background-color:#c2c2c2

}

.noheader .hide-header .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    visibility: hidden;
    -fx-padding: -1em;
}